/* 
Color scheme for site:
	129793 - teal blue
	505050 - gray
	FFF5C3 - light yellow
	9BD7D5 - light blue
	FF7260 - salmon 
*/

:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #f04848;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #1abc9c;
	--secondary: #2c3e50;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-sans-serif: 'Lato', -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
		'Liberation Mono', 'Courier New', monospace;
}

body {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.showOnMobileOnly { 
	display: none; 
}

#scrollDownDirectionDiv {
	position: absolute;
	left: -20px;
	bottom: 0;
	padding: 20px;
}

/* Nav bar styling */
#navbar {
	overflow: hidden;
	list-style-type: none;
	display: flex;
	width: 100%;
}

.navLinks { 
	display: inline; 
	flex: 1; 
}

.navLinks a, .navLinks h4 {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
}

.navLinks a:hover {
	color: white;
	border-bottom: 2px solid white;
}

#navLogo { flex: 4; }

#navRecommendations { flex: 1; }

#navMain { flex: 0; }

/* Font styling */
h1 {
	font-size: clamp(10px, 20rem, 25rem);
	line-height: 14rem;
	letter-spacing: -1.5rem;
	font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.verticalText {
	writing-mode:vertical-rl;
	transform: rotate(-180deg);
	margin: 0;
}

/* icon styling */
div i {
	margin-left: 3px;
	margin-top: 5px;
}

/* Image styling */
img {
	width: 60%;
	border: 20px solid rgba(255,255,255,0.95);
}

#polaroidDiv {
	height: 100px;
	width: 60%;
	background-color: rgba(255,255,255,0.95);
}

/* Media query for mobile screen until I can get clamp on font-size to work*/
@media only screen and (max-width: 600px) {
	h1 {
		font-size: 8rem;
		letter-spacing: -.7rem;
		text-align: center;
	}
	#navLogo, .hideOnMobile { display: none; }
	.showOnMobileOnly { display: block;}
	#aboutMeDiv { flex-direction: column-reverse; }
	img {
		width: 80%;
		border: 10px solid rgba(255,255,255,0.95);
		align-items: center;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	#polaroidDiv {
		height: 100px;
		width: 80%;
		background-color: rgba(255,255,255,0.95);
		margin-left: auto;
		margin-right: auto;	
	}
}