/* 
Color scheme for site:
	129793 - teal blue
	505050 - gray
	FFF5C3 - light yellow
	9BD7D5 - light blue
	FF7260 - salmon 
*/

#recommendationListDiv { width: 55vw; }

/* Centering bottom pagination dots */
.fp-slidesNav { text-align: center; }

/* Left/Right arrow resizing */
.fp-controlArrow.fp-prev { border-width: 20.5px 24px 20.5px 0 }
.fp-controlArrow.fp-next { border-width: 20.5px 0 20.5px 24px; }

/* Media query for mobile screen until I can get clamp on font-size to work*/
@media only screen and (max-width: 600px) {
	.fp-controlArrow.fp-prev { border-width: 10.5px 14px 10.5px 0 }
	.fp-controlArrow.fp-next { border-width: 10.5px 0 10.5px 14px; }
}