/* 
Color scheme 1 :
	6ba292 - teal green
	e4fde1 - mint green
	ffdc7c - light yellow
	ff9b71 - salmon
	dd614a - coral 
*/
/* 
Color scheme 2 :
	f4f2f0 - white
	d7d2ce - light brown
	d3c0b2 - light pink
	a99282 - brown
	857b74 - dark brown
*/

/* Centering bottom pagination dots */
.fp-slidesNav { text-align: center; }

/* Left/Right arrow resizing */
.fp-controlArrow.fp-prev { border-width: 20.5px 24px 20.5px 0; }
.fp-controlArrow.fp-next { border-width: 20.5px 0 20.5px 24px; }

/* Font styling */
.smallText { 
	font-size: x-small; 
	text-align: left;
}

h2 {
	font-size: clamp(10px, 6rem, 25rem);
	line-height: 2rem;
	letter-spacing: -.5rem;
	font-family: 'Lato', sans-serif;
}


/* Wrapper for whole section */
.wrapper { display: inline; }

/* Location list section */
.recommendationListContainer { 
	width: 16%;
	min-height: 300px;
	max-height: 80vh;
	text-align: center;
	margin-left: 20px;
	margin-right: auto;
	padding: 5px;
	color: #212629;
	float: left;
	overflow: scroll;
	font-family: 'Lato', sans-serif;
;}

.recommendationListContainer a {
	display: block; 
	flex: 1; 
	padding: 2px;
	text-align: start;
	color: #f4f2f0;
	text-decoration: none;
}

.recommendationListContainer a:hover { color: #d3c0b2; }

/* Trip content section */
#tripContent {
	clear: right;
	width: 100%;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

#titleDiv {
	clear: right;
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 5px;
	margin-bottom: 10px;
}

#locationTitle {
	font-family: 'Lato', sans-serif;
}

/* Pictures Section */
.pictureSection {
	display: flex;
	align-items: center;
	width: 100vw;
	margin-left: auto;
	margin-right: auto;
	float: right;
	padding: 50px 25px 50px 25px;
	background-color: #d3c0b2;
}

.picContainer {
	display: flex; 
	padding: 4px;
	background-color: #d3c0b2;
	border: 1px solid #f4f2f0;
}

.picContainer img { 
	display: inline; 
	flex: 1; 
	max-width: 20%;
	height: auto;
	padding: 3px;
}

/* Google maps */
#map {
	width: 70%;
	height: 410px;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid #d7d2ce;
}

/* Media query for mobile screen until I can get clamp on font-size to work*/
@media only screen and (max-width: 600px) {
	.recommendationListContainer { width: 100%; min-height: fit-content; }
	.fp-controlArrow.fp-prev { border-width: 10.5px 14px 10.5px 0 }
	.fp-controlArrow.fp-next { border-width: 10.5px 0 10.5px 14px; }
	.pictureSection, #map {
		width: 100%;
		padding: 5px;
	}

}